
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url('/back.png');
    background-size: 100% 100%;
    animation: gradientAnimation 6s ease ;
    font-family: 'Poppins', sans-serif;
}


.con{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}


h1 img{
    width:250px;
    height:auto;
    padding-bottom: 20px;
    filter: contrast(150%);
    animation: fadeIn 3s ease-in-out forwards, letterSpacing 6s ease-in-out forwards; 

}

p{
    font-size: 1.2rem;
    color:black;
    text-align: center;
    font-family:'Times New Roman', Times, serif ;
    text-transform: uppercase;
    text-align: right;
    opacity: 0.8;
    animation: fadeIn 3s ease-in-out forwards, letterSpacing 6s ease-in-out forwards; 

}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: translateY(0); }
}


@keyframes colorChange {
    0% { color: white; }
    100% { color: #ffecf7; }
}

@media (max-width: 768px) {
    body {
        background-size: cover;
        background-position: center;
        padding: 10px;
    }

    .con {
        width: 95%;
        padding: 10px;
    }

    p {
        font-size: 1rem;
        text-align: center;
    }
}

@media (max-width: 480px) {
    h1 img {
        width: 100%;
    }

    p {
        font-size: 0.9rem;
    }
}
